<h1>Index:</h1>

<% form_tag :action => "index" do %>
 <fieldset>
   <legend>Enter Search Criteria</legend>

   <div>
     <label for="Company">Company Name:</label>
     <%= collection_select( :company, :id, @companies,
     :id, :name, options = {:prompt => "-Select a Company"}) %>
   </div>
   
   <div>
     <label for="Username">Username:</label>
     <%= collection_select( :user, :id, @users, :id, :name,
     options = {:prompt => "-Select a Username"}) %>
   </div>

   <div>
     <label for="Solved?">Display solved bugs? </label>
     <%= select(:bug, :solved, %w{All No Yes})%>
   </div>

   <div>
     <label for="Days"> Submitted in the last _ days </label>
     <%= text_field_tag :days, params[:days] %>
   </div>

   <div>
     <%= submit_tag "Search" %>
   </div>
 </fieldset>
 <%end%>
</div>



<div id="bug-list">
  <% if @bugs%> 
    <h1> Listing bugs:</h1>
    <table>
      <%= render(:partial => @bugs) %>
    </table>
    <%end%>
</div>
