<h1>Index:</h1>

<% form_tag :action => "index" do %>
 <fieldset>
   <legend>Enter Search Criteria</legend>

   <div>
     <label for="Company">Company Name:</label>
     <%= collection_select( :user, :company_name, User.all,
     :company_name, :company_name, options = {:prompt => "-Select a Company"}) %>
   </div>
   
   <div>
     <label for="Username">Username:</label>
     <%= collection_select( :user, :name, User.all, :name, :name,
     options = {:prompt => "-Select a Username"}) %>
   </div>

  <div>
    <label for="Submitter">Submitted By:</label>
    <%= collection_select( :bug, :submitter, Bug.all, :submitter,
    :submitter, options = {:prompt => "-Select a Submitter"}) %>
   </div>
   <div>
     <%= submit_tag "Search" %>
   </div>
 </fieldset>
 <%end%>
</div>



<div id="bug-list">
  <% if @bugs%> 
    <h1> Listing bugs:</h1>
    <table>
      <%= render(:partial => "shared/bug", :collection => @bugs) %>
    </table>
    <%end%>
</div>
