<p>
  <b>Subject:</b>
  <%=h @bug.subject %>
</p>

<p>
  <b>Description:</b>
  <%=h @bug.description %>
</p>

<p>
  <b>Submitter:</b>
  <%=h @bug.user.name %>
</p>


<% if session[:admin] %>
  <%= link_to 'Back', :controller => 'admin', :action => 'index' %>
  
  <% unless @bug.solved %>
    <% form_for(@bug) do |f| %>
      <%= f.check_box :solved %>
      <%= f.submit "Mark as Solved" %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Back', bugs_path %>
<% end %>
