<p>
  <b>Subject:</b>
  <%=h @bug.subject %>
</p>

<p>
  <b>Description:</b>
  <%=h @bug.description %>
</p>

<p>
  <b>Submitter:</b>
  <%=h @bug.submitter %>
</p>


<% if session[:admin] %>
  <%= link_to 'Back', :controller => 'admin', :action => 'index' %>
<% else %>
  <%= link_to 'Back', bugs_path %>
<% end %>
